@using System.Text.RegularExpressions
@using MonsterTournament.Models
@using System.IO.Compression
@using System.Text.Json

<div class="d-flex justify-start align-center gap-1 mb-5">
    <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary"
               @onclick=AddNew>追加</MudButton>
</div>

<MudGrid Justify="Justify.Center" Spacing="10">
    <MudItem xs="12" lg="3">
        <MudPaper MinWidth="300px">
            <MudList T="SpecialAttack" @bind-SelectedValue=selectedSpecialAttack>
                @foreach (var state in SpecialAttacks)
                {
                    <MudListItem Value="@state">
                        <AvatarContent>
                            <AttackIcon AttackType="@BattleCardAttackType.Special" />
                        </AvatarContent>
                        <ChildContent>
                            <div class="d-flex justify-space-between align-center">
                                @state.Name
                                <MudIconButton Icon="fas fa-trash" Variant="Variant.Filled" Color="Color.Error"
                                               @onclick="() => Remove(state)" />
                            </div>
                        </ChildContent>
                    </MudListItem>
                }
            </MudList>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" lg="9">
        @if (selectedSpecialAttack != null)
        {
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Class="mb-5" Label="名前" Required="true" @bind-Text=selectedSpecialAttack.Name RequiredError="name is required!" />

                @foreach (var i in Enumerable.Range(0, selectedSpecialAttack.Attacks.Length))
                {
                    <InputAttackField i="@i" battleCardAttack=selectedSpecialAttack.Attacks[i] />
                }
            </MudForm>
        }
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public List<SpecialAttack> SpecialAttacks { get; set; } = [];

    public SpecialAttack? selectedSpecialAttack;

#pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
    MudForm form;
#pragma warning restore CS8618

    bool success;
    string[] errors = { };

    private void AddNew()
    {
        selectedSpecialAttack = new()
            {
                Name = "新規の必殺技",
                Attacks = Enumerable.Range(1, 6).Select(i => new BattleCardAttack()).ToArray()
            };
        SpecialAttacks.Add(selectedSpecialAttack);
    }

    private void Remove(SpecialAttack value)
    {
        SpecialAttacks.Remove(value);
        if (value == selectedSpecialAttack)
        {
            selectedSpecialAttack = default;
        }
    }
}
